@import url("https://fonts.googleapis.com/css?family=Poppins");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", Arial;
  transition: 0.3s linear;
}

body {
  background-color: var(--bg-main);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: var(--fontcolor-secondary);
  text-decoration: none;
}

.desktop {
  display: flex;
  gap: 1em;
  justify-content: space-around;
  background-color: var(--bg-main);
  padding: 1em;
}
